*{ margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    padding: 1rem;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

h1 {
    font-size: 15vw;
    color: lighten (lightblue, 20%);
    text-shadow: 2px 2px 0px 3px black;
}

div {
    background-color: salmon;
    width: 100%;
}

h1::before {
    content: 'Project';
    color: darkblue;
    position: absolute;
    text-shadow: none;
    border-right: 5px solid darkblue;
   /* width: 30%;*/
    height: 10%;
    overflow: hidden;
    animation: text-animate 7s steps(7,end) infinite;
}